---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% include "desain/home/header.njk" %}
{% include "desain/home/shop.njk" %}
{% include "desain/home/blog.njk" %}
{% include "widget/contact.njk" %}
