---
pagination:
  data: collections.all
  size: 1000
  alias: entries
title: Sitemap
description : sitemap website detail
layout: layouts/home.njk
permalink: /page-list/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---
{% include "pageslist.njk" %}