<div class="col-md-12">
<img class="img-fluid" alt="{{metadata.title}}" width="100%" height="100%" src="{{home.cover}}"/>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-md-12 p-3 p-md-5 text-center">
<h1><strong><a href="{{ '/' | url }}">{{metadata.title}}</a></strong></h1>
<h2>{{metadata.description}}</h2>
</div>
<div class="col-md-6 p-0">
<img class="img-fluid rounded" alt="{{metadata.title}}" loading="lazy" width="100%" height="100%" src="{{home.cover1}}"/>
</div>
<div class="col-md-6 p-3 p-md-5 mt-3">
<img class="img-fluid rounded" alt="{{metadata.title}}" loading="lazy" width="60" height="60" src="{{home.icon1}}"/>
<h3 class="mt-3 p-3"><strong><a href="{{page.url}}">{{home.title1}}</a></strong></h3>
<p class="mt-3 p-3">{{home.intro1}}</p>
<p class="mt-3 p-3"><a href="https://github.com/mesinkasir/11ty-shop" class="btn btn-dark">Download Now</a> <a href="https://www.hockeycomputindo.com/2022/11/built-online-shop-website-with-static.html" class="btn btn-outline-dark">Documentation</a></p>
</div>
<div class="col-md-6 p-3 p-md-5 mt-3">
<img class="img-fluid rounded" alt="{{metadata.title}}" loading="lazy" width="60" height="60" src="{{home.icon2}}"/>
<h3 class="mt-3 p-3"><strong><a href="{{page.url}}">{{home.title2}}</a></strong></h3>
<p class="mt-3 p-3">{{home.intro2}}</p>
<p class="mt-3 p-3"><code class="bg-dark text-white rounded p-1">git clone https://github.com/mesinkasir/11ty-shop.git</code></p>
</div>
<div class="col-md-6 p-0">
<img class="img-fluid rounded" alt="{{metadata.title}}" loading="lazy" width="100%" height="100%" src="{{home.cover2}}"/>
</div>
</div>
</div>