<footer class="row text-center"><div class="col-md-12 p-3 p-md-5"><h5 class="mb-5"><strong><a href="{{metadata.url}}">{{metadata.title}}</a></strong></h5><div class="row justify-content-center p-3">{%- for entry in collections.all | eleventyNavigation %}<a href="{{ entry.url | url }}" class="col-md-2 col-2">{{ entry.title }}</a>{%- endfor %}</div></div></footer>{% include "widget/script.njk" %}