{%- if product_id %}
<div class="p-0">
<div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-{{product_id}}" itemtype="http://schema.org/Product" data-single-product-id="{{product_id}}"><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?224387&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
{%- endif %}
</div>