<div class="col-md-12 p-3">
<ul class="nav nav-tabs p-3 row justify-content-center" id="myTab" role="tablist">
  <li class="nav-item p-1 col-md-2 col-3" role="presentation">
    <button class="btn btn-dark p-3 col-12 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false">Home</button>
  </li>
  <li class="nav-item p-1 col-md-3 col-3" role="presentation">
    <button class="btn btn-dark p-3 col-12" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="false">Product</button>
  </li>
  <li class="nav-item p-1 col-md-3 col-3" role="presentation">
    <button class="btn btn-dark p-3 col-12" id="shop-tab" data-bs-toggle="tab" data-bs-target="#shop-tab-pane" type="button" role="tab" aria-controls="shop-tab-pane" aria-selected="false">Shop</button>
  </li>
  <li class="nav-item p-1 col-md-3 col-3" role="presentation">
    <button class="btn btn-dark p-3 col-12" id="format-tab" data-bs-toggle="tab" data-bs-target="#format-tab-pane" type="button" role="tab" aria-controls="format-tab-pane" aria-selected="false">Buy</button>
  </li>
  <li class="nav-item p-1 col-md-3 col-3" role="presentation">
    <button class="btn btn-dark p-3 col-12" id="blog-tab" data-bs-toggle="tab" data-bs-target="#blog-tab-pane" type="button" role="tab" aria-controls="blog-tab-pane" aria-selected="false">Blog</button>
  </li>
  <li class="nav-item p-1 col-md-3 col-3" role="presentation">
    <button class="btn btn-dark p-3 col-12" id="article-tab" data-bs-toggle="tab" data-bs-target="#article-tab-pane" type="button" role="tab" aria-controls="article-tab-pane" aria-selected="false">Article</button>
  </li>
  <li class="nav-item p-1 col-md-3 col-3" role="presentation">
    <button class="btn btn-dark p-3 col-12" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
  </li>
  <li class="nav-item p-1 col-md-3 col-3" role="presentation">
    <button class="btn btn-dark p-3 col-12" id="chart-tab" data-bs-toggle="tab" data-bs-target="#chart-tab-pane" type="button" role="tab" aria-controls="chart-tab-pane" aria-selected="false">Sitemap</button>
  </li>
</ul>