<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active mt-5" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
  <img class="img-fluid shadow rounded" alt="11ty eleventy online shop e-commerce ecwid" height="100%" width="100%" src="/img/onlineshopssg.webp"/>
  </div>
  <div class="tab-pane fade mt-5" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
  <img class="img-fluid shadow rounded" alt="11ty eleventy online shop e-commerce ecwid" height="100%" width="100%" src="/img/produkshopscreen.webp"/>
  </div>
  <div class="tab-pane fade mt-5" id="shop-tab-pane" role="tabpanel" aria-labelledby="shop-tab" tabindex="0">
  <img class="img-fluid shadow rounded" alt="11ty eleventy online shop e-commerce ecwid" height="100%" width="100%" src="/img/chart.webp"/>
  </div>
  <div class="tab-pane fade mt-5" id="format-tab-pane" role="tabpanel" aria-labelledby="format-tab" tabindex="0">
  <img class="img-fluid shadow rounded" alt="11ty eleventy online shop e-commerce ecwid" height="100%" width="100%" src="/img/onlineshopbuy.webp"/>
  </div>
  <div class="tab-pane fade mt-5" id="blog-tab-pane" role="tabpanel" aria-labelledby="blog-tab" tabindex="0">
  <img class="img-fluid shadow rounded" alt="11ty eleventy online shop e-commerce ecwid" height="100%" width="100%" src="/img/blog.webp"/>
  </div>
  <div class="tab-pane fade mt-5" id="article-tab-pane" role="tabpanel" aria-labelledby="article-tab" tabindex="0">
  <img class="img-fluid shadow rounded" alt="11ty eleventy online shop e-commerce ecwid" height="100%" width="100%" src="/img/articleblog.webp"/>
  </div>
  <div class="tab-pane fade mt-5" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
  <img class="img-fluid shadow rounded" alt="11ty eleventy online shop e-commerce ecwid" height="100%" width="100%" src="/img/contactshop.webp"/>
  </div>
  <div class="tab-pane fade mt-5" id="chart-tab-pane" role="tabpanel" aria-labelledby="chart-tab" tabindex="0">
  <img class="img-fluid shadow rounded" alt="11ty eleventy online shop e-commerce ecwid" height="100%" width="100%" src="/img/sitemap.webp"/>
  </div>
</div>


</div>

</div>